body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(187, 196, 196, 0.459);
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: none;
  margin-top: 0px;
  color: white;
}

section {
  background-color: rgb(240, 238, 234);
  padding: 20px;
  text-align: center;
  color: rgb(12, 40, 81);
}

.table{
  width: 90%;
  align-items: center;
  background-color: rgba(151, 146, 146, 0.615);
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
  padding: 5px,
}

.table_head {
  background-color: #000;
  color: #fff;
}

.table_titles{
  text-align: center;
}


.table_data {
  width: auto;
  text-align: center;
  color: #38383e;
}

.sub_header {
  display: flex;
  background-image: linear-gradient(to left, #3a3a3a, #38383e, #363642, #323447, #2d334b, #363e57, #3f4964, #485571, #65718a, #838da3, #a3abbd, #c3cad8);
  border: none;
  padding: none;
  margin: none;
  height: 8rem;
}

.image1 {
  height: 8rem;
  padding: 0;
}

.titnav {
  margin: auto;
  margin-left: 5rem;
  position: relative;
  width: 50%;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .titnav {
    width: 100%;
    margin-left: 1rem;
    font-size: 2rem;
  }

  .bs_sub {
    display: block;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6rem;
    flex-wrap: wrap;
  }

  .bs_in {
    width: 100%;
  }
  .bs_ex {
    width: 100%;
  }

  body {
    font-size: smaller;
  }


}