@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Titillium+Web&display=swap");

.App {
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', 'Courier New', Courier, monospace;
}
